# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SEPT - 2020\weeeeeek8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
